<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/login.css" rel="stylesheet" type="text/css">
    <script src="/js/generales.js"></script>
    <title>Login</title>
  </head>
<body>
	<header>
  		<img src="/img/logo-gesoc.png" alt="Logo de Gesoc" id="gesoc-logo">
  		<h2>Member Login</h2>
  	</header>


  	<div class="malResultado" id="malResultado">El usuario y/o la contraseña son incorrectas, vuelva a introducirlas</div>

  	<form>
    	<label for="usuario">Usuario</label><br>
    	<input type="text" name="fusuario" id="fusuario"><br>
    	<label for="pass">Contraseña</label><br>
    	<input type="text" name="fpass" id="fpass"><br>
    	<input type="checkbox" name="recordarme" id="recordarme" value="recordar">
    	<label for="recordarme">Recordarme</label><br>
    	<input type="submit" name="iniciar_sesion" id="iniciar_sesion">
	</form>

</body>

</html>